body, html {
    height: 100%;
    margin: 0;
}
.bg {
    /* The image used */
    background-image: url("code.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
}
.developertext{
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 0.75em;
  font-style: italic;
  text-align: center;
  color: white;
}
.nametext{
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 2.75em;
  text-align: center;
  color: white;
  padding-top:25%;
}
.firstpage{
  top: 100%;
  width: 100%;
  background-color: #C63D0F;
  position: relative;
  height:100%;
}
.firstpage1{
  top: 200%;
  background-color: #FDF3E7;
}
.firstpage2{
  top: 300%;
  background-color: #3B3738;
}
.roundimages{
  padding-top: 1%;
  height:128px;
}
.firstpagecontainer{
      padding-top: 1%;
}
@media screen and (min-width: 700px) {
  .sidebarleft{
    width: 10px;
    height: 100%;
    position: absolute;
    margin-left: 10%;
    background-color: #FDF3E7;
  }
  .sidebarright{
    right: 0px;
    top: 0px;
    width: 10px;
    height: 100%;
    position: absolute;
    margin-right: 10%;
    background-color: #FDF3E7;
  }
}
@media screen and (max-width: 575px) {
  .totalcontainer{
    position:relative;
  }
  .firstpage{
    top:100%;
    width: 100%;
    background-color: #C63D0F;
    height: auto;
  }
  .firstpage1{
    background-color: #FDF3E7;
    height:200%;

  }
  .firstpage2{
    background-color: #3B3738;
    height:200%;

  }
}
.links{
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 2.75em;
  text-align: center;
  color: #3B3738;
}
.links:hover{
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 2.75em;
  text-align: center;
  color: #3B3738;
  text-decoration: none;
}
.links:hover > div{
  background-color: #FDF3E7;
  animation-name: example;
  animation-duration: 1s;
}
@keyframes example {
    from {background-color: #C63D0F;}
    to {background-color: #FDF3E7;}
}
.skills{
  margin-top:5%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 2em;
  text-align: center;
  color: #FDF3E7;
}
.skillheading{
  margin-top:5%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 1.5em;
  text-align: center;
  color: #FDF3E7;
  border-right: 2px solid #3B3738;
  border-left: 2px solid #F2F4F3;
}
.skill{
  margin-top:2%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 1em;
  text-align: center;
  color: #FDF3E7;
  border-left: 2px solid #3B3738;
  border-right: 2px solid #F2F4F3;
}
.hackathons{
  margin-top:3%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 1em;
  text-align: center;
  color: #FDF3E7;
  border-left: 2px solid #F2F4F3;
  border-right: 2px solid #3B3738;
}
.roundimg{
  width:100px;
  height:100px;
  background-color: white;
  border: 1px solid #F2F4F3;
  border-radius: 100%;
}
.backgroundcolor{
  background-color: #C63D0F;
}
.secondpageheader{
  margin-top:2%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 2em;
  text-align: center;
  color: #3B3738;
}
